DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
TEXT_ENV_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_ENVIRONMENT=""
SENTRY_AUTH_TOKEN=""

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

GITHUB_ID="8fe7e564b7ee5393a6b4"
GITHUB_SECRET=""
